@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container1 {
    background-color: white;
}

.VR-image {
    width: 270px;
}

.VR-heading {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 800;
    color: #1a2137;
}

.VR-description {
    font-family: Roboto;
    color: #7b8794;
}

.button {
    width: 130px;
    height: 40px;
    color: white;
    background-color: #1f2933;
    border-width: 0px;
    border-radius: 8px;
    margin-right: 10px;
}