@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.e-heading{
    font-family: Roboto;
    color: #183b56; 
    font-weight: 700;
}
.e-para{
    font-family: Roboto;
    color: #7b8794;
    font-weight: 500;
}

.e-card-image{
    height: 100px;
}
.e-card-image-heading{
    font-family: Roboto;
    font-size: 28px;
    font-weight: 500;
    color: #1f2933;
}
.e-card-image-para{
    font-family: Roboto;
    color: #7b8794;
}